<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative - Start Bootstrap Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="vista/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vista/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vista/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="vista/css/creative.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body id="page-top">



        <header>
          <div class="header-content">

            {% if msjError|length > 0 %}
            <div class="alert alert-danger">
              <p>{{ msjError }}</p>
            </div>
            {% endif %}
            {% if mismoUsuario == true %}
            <div class="header-content-inner">
              <h1 id="homeHeading">Congreso de Tecnología e Informática</h1>
            </div>    
            <h2>Usted es el usuario {{autor.NOMBRE}} {{autor.APELLIDO}}. Esta seguro que desea finalizar la edicion del trabajo "{{autor.TITULO}}" ?</h2>
            <form action="soloLectura.php" method="post">
              <input type="hidden" name="id_drive" value="{{autor.ID_GOOGLE_DRIVE}}">
              <button class="btn btn-primary btn-xl page-scroll">Finalizar</a>
              </form>
              {% else %}            
              <h2>La cuenta con la que se logeó no tiene permisos sobre este archivo</h2>
              {% endif %}
              
              
              
            </div>
          </header>



        </body>

        </html>
